<div id="<%= dom_id assignment %>">
  <p>
    <strong>Secret santa:</strong>
    <%= assignment.secret_santa_id %>
  </p>

  <p>
    <strong>Giver:</strong>
    <%= assignment.giver_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= assignment.receiver_id %>
  </p>

</div>
