<h1>Editing secret santum</h1>

<%= render "form", secret_santa: @secret_santa %>

<br>

<div>
  <%= link_to "Show this secret santum", @secret_santa %> |
  <%= link_to "Back to secret santa", secret_santas_path %>
</div>
