<p style="color: green"><%= notice %></p>

<h1 class="text-center">Amigo ocultos</h1>

<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Filtrar Amigos Ocultos</h5>
    <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="true" aria-controls="searchForm">
      Mostrar/Ocultar
    </button>
  </div>
  <div id="searchForm" class="collapse show">
    <div class="card-body">
      <%= render partial: 'search_form', locals: { q: @q } %>
    </div>
  </div>
</div>

<br>

<div id="secret_santa">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @secret_santas.each do |secret_santa| %>
      <%= render secret_santa %>
    <% end %>
  </div>
</div>

<%= link_to "New secret santa", new_secret_santa_path %>
