

<h1>Meus amigo ocultos</h1>

<h3>Sorteios finalizados: <%= @secret_santa_completed.count %></h3>

<div id="secret_santa_completed">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @secret_santa_completed.each do |secret_santa| %>
      <%= render secret_santa %>
    <% end %>
  </div>
</div>

<br>
<hr>

<h3>Sorteios em espera: <%= @secret_santa_pending.count %></h3>

<div id="secret_santa_pending">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @secret_santa_pending.each do |secret_santa| %>
      <%= render secret_santa %>
    <% end %>
  </div>
</div>