<div id="<%= dom_id user_preference %>">
  <p>
    <strong>Nickname:</strong>
    <%= user_preference.nickname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user_preference.age %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_preference.user_id %>
  </p>

</div>
